<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'poll/style.css' %}">
    <title>TF7 Poll</title>
  </head>
  <body style="background-color: black">
    <div class="container">
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <img src="{% static 'poll/logo.png' %}" alt="logo" style="max-width: 100%">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
          <h1 style="font-size: 2rem">LAST WEEK THE INFAMOUS "16 PERSONALITIES" TEST WAS PASSED AROUND THE OFFICE. IF YOU HAVEN'T TAKEN IT YET, YOU MAY DO SO AT<a href="www.16personalities.com" style="color: #FF4729"> THIS LINK</a>.</h1>
          <h1 style="font-size: 2rem">NOW WE'RE TAKING AN ANONYMOUS POLL TO HAVE SOME FUN WITH DATA VISUALIZATION!</h1>
        </div>
      </div>

        <form action="{% url 'poll:vote' %}" method="post">
        {%csrf_token%}
        {% for question in question_list%}
        <br>
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h2 style="font-size: 2rem">QUESTION # {{forloop.counter}}
            <br>{{question.question_text|upper}}</h2>
          </div>
        </div>


        <div class="row">
          <div class = "form-check" >

            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display: inline-block; max-width: 35%">
              <ul>
              {% for choice in question.choice_set.all %}
                  {%if question.choice_set.count <= 5 %}
                    <input type="radio" class= "form-check-input" name= "{{question.question_text}}" id="{{forloop.parentloop.counter}}{{choice.choice_text}}", value = "{{choice.id}}">
                    <label style="font-size: 2.2rem" class= "form-check-label" for="{{forloop.parentloop.counter}}{{choice.choice_text}}">{{choice.choice_text}}</label><br>
                  {% elif forloop.counter|divisibleby:2 is not True%}

                      <input type="radio" class= "form-check-input" name= "{{question.question_text}}" id="{{forloop.parentloop.counter}}{{choice.choice_text}}", value = "{{choice.id}}">
                      <label  style="font-size: 2.2rem" class= "form-check-label" for="{{forloop.parentloop.counter}}{{choice.choice_text}}">{{choice.choice_text}}</label><br>

                  {%endif%}
              {%endfor%}
            </ul>
          </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display: inline-block; max-width: 35%">
              <ul>
              {% for choice in question.choice_set.all %}
                  {% if forloop.counter|divisibleby:2  and question.choice_set.count > 5%}

                      <input type="radio" class= "form-check-input" name= "{{question.question_text}}" id="{{forloop.parentloop.counter}}{{choice.choice_text}}", value = "{{choice.id}}">
                      <label  style="font-size: 2.2rem" class= "form-check-label" for="{{forloop.parentloop.counter}}{{choice.choice_text}}">{{choice.choice_text}}</label><br>

                  {%endif%}
              {%endfor%}
            </ul></div>

          </div>
        </div>

        {%endfor%}

          <div class="text-center">
            <button type="submit" class="btn submit-btn" style="font-size: 2rem">SUBMIT</button>
          </div>
        </form>
    </div>
    <br><br><br>
  </body>
</html>
