@font-face {
  font-family: condensed-regular;
  src: url("fonts/AkzidGrtskProCndReg-webfont.woff");
}

@font-face {
  font-family: condensed-light;
  src: url("fonts/AkzidGrtskProLigCnd.woff");
}


h1 {
  color: white;
  font-family: condensed-regular;
}

h2{
  color: white;
  font-family: condensed-light;
}

.form-check-label{
  color: white;
  font-family: condensed-light;
}
.submit-btn{
  background-color: #FF4729;
  font-family: condensed-regular;
  color: white;
  width: 33%;
  max-width: 200px;
  height: auto;
}

input{
  visibility: hidden;
}

input:checked + label{
  background-color: #FF4729;
}
